.auth {
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    display: flex;
    text-decoration: none;
    align-items: center;
    margin-left: 50px;
}

.auth_place_popup {
    margin-left: 0;
}

.auth::after {
    content: '';
    width: 30px;
    height: 30px;
    background-color: #313131;
    background-image: url(../../images/icon__acc.svg);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 6px;
    margin-left: 13px;
}