.popup {
    
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.7s, visibility 0s linear 0.6s;
    display: flex;
    position: fixed;
    top:0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0,0,0, .5);
    align-items: center;
    justify-content: flex-end;
}

.popup_opened {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}

.popup__container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 520px;
    background-color: #202020;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.popup__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup__navlink {
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    color: #ffffff;
    margin-bottom: 28px;
}

.popup__navlink_active {
    position: relative;
}

.popup__navlink_active::after {
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    background-color: #ffffff;
    left: 0;
    bottom: -4px;
}

.popup__navlink:last-of-type {
    margin-bottom: 0;
}

.popup__button-close {
    width: 36px;
    height: 36px;
    background: transparent;
    background-image: url(../../images/close-icon.svg);
    background-size: cover;
    color: rgb(255, 255, 255);
    position: absolute;
    outline: none;
    border: none;
    cursor: pointer;
    top: 37px;
    right: 38px;
}

@media (max-width: 550px) {
    .popup__button-close {
        top: 42px;
        right: 10px;
        width: 20px;
        height: 20px;
    }
}

@media screen and (max-width: 520px) {
    .popup__container {
        width: 320px;
    }
}