.section-content {
    max-width: 1140px;
    margin: 0 auto;
  }
  
@media screen and (max-width: 1141px) {
    .section-content {
      max-width: calc(100% - 100px);
    }
}
      
  
  @media screen and (max-width: 768px) {
    .section-content {
      max-width: calc(100% - 20px);
    }
    
    .section-content_films {
      max-width: 708px;
    }
  }
    