.tech {
    padding: 100px 0;
    background-color: #272727;
}

.tech__title {
    margin: 90px 0 0;
    font-size: 50px;
    font-weight: normal;
    color: #ffffff;
    text-align: center;
}

.tech__description {
    margin: 26px auto 100px;
    text-align: center;
    max-width: 460px;
    
    font-size: 14px;
    color: #ffffff;
    line-height: 1.43;
}

.tech__list {
    margin: 0 auto;
    padding: 0;

    display: grid;
    grid-template-columns: repeat(7, 1fr);
    column-gap: 10px;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    list-style-type: none;
    max-width: 690px;
}

.tech__list-item {
    background-color: #303030;
    padding: 21px 0;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .tech__description{
        margin-bottom: 50px;
    }
    .tech__list {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: (auto-fit, 57px);

        max-width: 178px;
        row-gap: 10px;
    }
}