.tooltip {
    position: fixed;
    top: 30px;
    right: 30px;
}

.tooltip__title {
    font-size: 13px;
    font-weight: 500;
    padding: 15px 20px;
    margin: 0;
}

.tooltip__title_success {
    background-color: yellowgreen;
}

.tooltip__title_error {
    background-color: tomato;
}